body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.container {
    position: relative;
    z-index: 0;
}

.video {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 0;
    padding-bottom: 85%;
}

.video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

svg {
    position: relative;
    z-index: 2;
}

text {
    font-size: 2.3em;
    fill: white;
    font-family: sans-serif;
}

.small_screen-text {
    display: none;
}

.small_mask {
    display: none;
}

@media (max-width: 746px) {

    text {
        font-size: 4em;
    }

    .big_screen-text {
        display: none;
    }

    .small_screen-text {
        display: block;
    }

    .small_mask {
        display: block;
    }

    .masked-rect {
        mask: url(#small_mask);
    }

}